@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.bg-bmw {
  background-color: #1b2a2b;
}

.bg-navigation-bar {
  background-color: #312e2b;
}

.bg-side-bar-1 {
  background-color: #262421;
}

.bg-side-bar-2 {
  background-color: #22211f;
}

.text-icon {
  color: #b3b3b2;
}

.text-gray-1 {
  color: #babab9;
}

.bg-button-1 {
  background-color: #373532;
}

.bg-button-2 {
  background-color: #80a555;
}

.bg-button-3 {
  background-color: #413e3c;
}

.border-btn {
  border-color: #4a5e32;
}

.border-btn-1 {
  border-color: #3c3936;
}

.border-custom-1 {
  border-color: #22211f;
}

.border-btn-2 {
  border-color: #d13545;
}

span::before {
  content: "\A";
  white-space: pre;
}

.bg-form-1 {
  background-color: #272522;
}

.bg-text-field-1 {
  background-color: #3d3b39;
}

.text-green-1 {
  color: #80a555;
}

.text-facebook {
  color: #217cef;
}

.text-google {
  color: #ff3d00;
}

.bg-gradient-1 {
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}

.bg-gradient-2 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.bg-gradient-3 {
  background-image: linear-gradient(to top, #faf5f6 0%, #fbf7f7 100%);
}

.bg-red-dark-99 {
  background-color: #da3948;
}

.text-red-dark-99 {
  color: #da3948;
}

.bg-pink-light-1 {
  background-color: #f9f3f3;
}

.bg-pink-light-2 {
  background-color: #fbf7f7;
}

.text-pink-light-1 {
  color: #f9f3f3;
}

.border-pink-light-2 {
  border-color: #fbf7f7;
}

.svg-reverse {
  transform: rotate(180deg);
}

.bg-gray-dark {
  background-color: #3d404e;
}

.text-gray-dark-99 {
  color: #2e313d;
}

.text-gray-dark-98 {
  color: #3d404e;
}

.border-red-dark-99 {
  border-color: #da3948;
}

.bg-yellow-bright-99 {
  background-color: #fcee51;
}

.text-yellow-bright-99 {
  color: #fcee51;
}

.border-yellow-bright-99 {
  border-color: #fcee51;
}

.bg-gray-classic {
  background-color: #787c7e;
}

.bg-yellow-classic {
  background-color: #c9b35f;
}

.bg-green-classic {
  background-color: #6ca967;
}
